 <!--<div class="layui-body">
    
        <div class="pad15 layui-form  layui-form-pane">
            <div class="layui-row layui-col-space10">
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="businessName" required   placeholder="请输入商户内容" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">创建时间</label>
                        <div class="layui-input-block">
                            <input type="text"  name="createTime"  class="layui-input" id="beginTime" placeholder="创建时间">
                        </div>
                    </div>
                </div>
               <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">开始时间</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" id="endTime" placeholder="结束时间">
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">省</label>
                        <div class="layui-input-block">
                            <select name="province" lay-filter="aihao">
                                <option value=""></option>
                                <option value="0">浙江省</option>
                                <option value="1" selected="">湖南省</option>

                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div class="layui-form-item">
                        <label class="layui-form-label">市</label>
                        <div class="layui-input-block">
                            <select name="city" lay-filter="aihao">
                                <option value=""></option>
                                <option value="0">温州市</option>
                                <option value="1" selected="">杭州市</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <button class="layui-btn" lay-submit lay-filter="search"><i class="layui-icon">&#xe615;</i> 搜索</button>
                </div>
            </div>
            <table id="demo" lay-filter="useruv"></table>
        </div>
    </div>
 -->